[submodule "kernel"]
	path = kernel
	url = ../tapas.git
[submodule "middlewares/pus-library"]
	path = middlewares/pus-library
	url = ../pus-library.git
[submodule "middlewares/iridium-library"]
	path = middlewares/iridium-library
	url = ../iridium-library.git
